@import "tailwindcss";

@font-face {
    font-family: "Vogue";
    src: url(../public/fonts/Vogue.ttf);
}

@font-face {
    font-family: "PerfectoCalligraphy";
    src: url(../public/fonts/PerfectoCalligraphy.ttf);
}


.glow-text {
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.4);
}
    